{% extends 'layout.html' %}

{% block content %}
    <!--start page wrapper -->
    <div class="page-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">eLogo</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item">
                                <a href="/index"><i class="bx bx-home-alt"></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <a href="/purchase_department">原材料供应商信息检索</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <a href="/purchase_department/show">原材料供应商信息选择</a>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="ms-auto">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">Settings</button>
                        <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
                            <a class="dropdown-item" href="javascript:;">Another action</a>
                            <a class="dropdown-item" href="javascript:;">Something else here</a>
                            <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end breadcrumb-->

            <div class="card">
                <div class="card-body">
                    <div class="d-lg-flex align-items-center mb-4 gap-3">
                        <div class="position-relative">
                            <input type="text" class="form-control ps-5 radius-30" placeholder="搜索供应商"> <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
                        </div>
                      <div class="ms-auto">
                          <a href="/GYS_add" class="btn btn-primary radius-30 mt-2 mt-lg-0"><i class="bx bxs-plus-square"></i>添加新的供应商货物信息</a></div>
                    </div>
                    <div class="table-responsive">
                        <table id="example"  class="table mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th>供应商名称</th>
                                    <th>供应商编号</th>
                                    <th>原材料名称</th>
                                    <th>原材料编号</th>
                                    <th>购买上限（千克）</th>
                                    <th>原材料单价（元/千克）</th>
                                    <th>生产日期</th>
                                    <th>细节&采购</th>
                                    <th>信息更新</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for obj in list_dic %}
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <input class="form-check-input me-3" type="checkbox" value="" aria-label="...">
                                                </div>
                                                <div class="ms-2">
                                                    <h6 class="mb-0 font-14">{{ obj.gongyingshang_name }}</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{ obj.gongyingshang_id }}</td>
                                        <td>{{ obj.yuancailiao_zhonglei }}</td>
                                        <td>{{ obj.yuancailiao_id }}</td>
                                        <td>{{ obj.yuancailiao_max }}</td>
                                        <td>{{ obj.yuancailiao_danjia }}</td>
                                        <td>{{ obj.shengchanriqi }}</td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-sm radius-30 px-4">
                                                查看细节并采购
                                            </button>
                                        </td>
                                        <td>
                                            <a class="btn btn-primary btn-xs" href="/GYS_edit?yuancailiao_id={{ obj.yuancailiao_id }}">
                                                编辑
                                            </a>
                                            <a class="btn btn-danger btn-xs" href="/purchase_department/delete?yuancailiao_id={{ obj.yuancailiao_id }}">删除</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>




                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--end page wrapper -->

{% endblock %}

