{% extends 'layout.html' %}

{% block content %}
		<div class="page-wrapper">
			<div class="page-content">
				<!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">财务管理</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">采购订单详情</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
						<div class="btn-group">
							<button type="button" class="btn btn-primary">其他功能</button>
							<button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
                                <a class="dropdown-item" href="/purchase_orders/">采购订单管理</a>
								<a class="dropdown-item" href="/sales_orders/">销售订单管理</a>
								<a class="dropdown-item" href="/expenditure_manage/">支出管理</a>
                                <a class="dropdown-item" href="/income_manage/">收入管理</a>
							</div>
						</div>
					</div>
				</div>
				<!--end breadcrumb-->
				<div class="card">
					<div class="card-body">
						<div id="detail">
							<div class="toolbar hidden-print">
								<hr>
							</div>
							<div class="invoice overflow-auto">
								<div>
									<main>
										<div class="row contacts">
											<div class="col invoice-to">
												<h2 class="to">订单详情</h2>
												<div class="time">下单时间:{{ info.caigoushijian }}</div>
												<div class="time">预期到货时间:{{ info.yuqidaohuoshijian }}</div>
											</div>
											<div class="col invoice-details">
												<h1 class="text">订单编号:{{ info.caigou_id }}</h1>
                                                <div class="text">负责人编号:{{ info.fuzeren }}</div>
												<div class="text">采购凭证编号:{{ info.pingzheng }}</div>
											</div>
										</div>
										<table>
											<thead>
												<tr>
                                                    <th>编号</th>
													<th class="text-left">订单详情</th>
													<th class="text-right">单价(元/kg)</th>
													<th class="text-right">数量</th>
													<th class="text-right">总价(元)</th>
												</tr>
											</thead>
                                            {% for obj in data_list %}
											<tbody>
												<tr>
													<td class="no">{{ obj.0 }}</td>
													<td class="text-left">
														<h3>
										<a target="_blank" href=# title="生产日期:2022/05/28,保质期:30天,产品编号:2205290001,仓库:001">
                                            {{ obj.1 }}
										</a>
                                                        </h3><a href=# title="原材料编号:2205290010028,供应商编号:0001">原产地:山东省烟台市栖霞市胶东农场</a>
													<td class="unit">{{ obj.3 }}</td>
													<td class="qty">{{ obj.2 }}</td>
													<td class="total">{{ obj.4 }}</td>
												</tr>
											</tbody>
                                        {% endfor %}
											<tfoot>
												<tr>
													<td colspan="2"></td>
													<td colspan="2">合计</td>
													<td>{{ info.caigou_zongjine }}(元)</td>
												</tr>
												<tr>
													<td colspan="2"></td>
													<td colspan="2">税收 25%</td>
													<td>{{ details.tax }}(元)</td>
												</tr>
												<tr>
													<td colspan="2"></td>
													<td colspan="2">总计</td>
													<td>{{ details.total }}(元)</td>
												</tr>
											</tfoot>
										</table>
										<div class="notices">
											<div>订单备注：</div>
											<div class="notice">  {{ obj.dingdanbeizhu }}  </div>
										</div>
									</main>
									<footer>ps:订单状态更新可能会存在一定的延迟</footer>
								</div>
								<!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
								<div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}