{% extends 'layout.html' %}

{% block content %}
    <div class="page-wrapper">
			<div class="page-content">
				<!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">原材料采购管理</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">采购订单</li>
							</ol>
						</nav>
					</div>

				</div>
				<!--end breadcrumb-->
              <div class="card">
				  <div class="card-body p-4">
					  <h5 class="card-title">采购订单添加</h5>
					  <hr>
                       <div class="form-body mt-4">
                    <form class="form-horizontal" method="post" action="/add_purchase_order/">
                    {% csrf_token %}
					    <div class="row">
						   <div class="col-lg-8">
                           <div class="border border-3 p-4 rounded">
							<div class="mb-3">
								<label for="inputProductTitle" class="form-label">采购订单编号</label>
								<input type="text" class="form-control" name="id" placeholder="">
							  </div>
                               <div class="mb-3">
								<label for="inputProductTitle" class="form-label">订单总金额</label>
								<input type="text" class="form-control" name="sum" placeholder="">
							  </div>
							  <div class="mb-3">
								<label for="inputProductDescription" class="form-label">订单详情</label>
								<textarea class="form-control" name="details" rows="4"></textarea>
							  </div>
							  <div class="mb-3">
								<label for="inputProductDescription" class="form-label">采购凭证</label>
								<input name="image-uploadify" type="file" accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf" multiple="">
							  </div>
                            </div>
						   </div>
						   <div class="col-lg-4">
							<div class="border border-3 p-4 rounded">
                              <div class="row g-3">
								<div class="col-md-6">
									<label for="inputPrice" class="form-label">采购时间</label>
									<input type="date" class="form-control" name="date" placeholder="yyyy-mm-dd">
								  </div>
								  <div class="col-md-6">
									<label for="inputCompareatprice" class="form-label">预期到货时间</label>
									<input type="date" class="form-control" name="expectdate" placeholder="yyyy-mm-dd">
								  </div>
								  <div class="col-md-6">
									<label for="inputProductType" class="form-label">负责人编号</label>
									<input type="text" class="form-control" name="inputid" placeholder="">
								  </div>
                                  <div class="col-md-6">
									<label for="inputProductType" class="form-label">供应商编号</label>
									<input type="text" class="form-control" name="sid" placeholder="">
								  </div>
								  <div class="col-12">
									<label for="inputVendor" class="form-label">订单状态</label>
									<select class="form-select" name="inputstatus">
										<option></option>
										<option value="1">货物未到库</option>
										<option value="2">货物已到库，待付款</option>
										<option value="3">已付款</option>
                                        <option value="4">已取消</option>
									  </select>
								  </div>
								  <div class="col-12">
									<label for="inputCollection" class="form-label">采购凭证编号</label>
									<input type="text" class="form-control" name="inputpdid" placeholder="">
								  </div>
								  <div class="col-12">
									  <div class="d-grid">
                                         <button type="submit" class="btn btn-primary">保存订单</button>
									  </div>
								  </div>
							  </div>
						  </div>
						  </div>
					   </div><!--end row-->
                           </form>
					</div>
				  </div>
			  </div>
			</div>
		</div>
{% endblock %}